/*********************************************************************/

/* Z-INDEX PARA OS DATEPICKERS  */

.datepicker {
    z-index: 1151 !important;
}

/* esse comando é importante para que o datepicker sobreponha uma dialog caso esteja contida */

/*********************************************************************/

.div-tabs,
.div-tabs ul,
.div-tabs ul li,
.div-tabs ul li a{
    color: white !important;
}

.navbar-default .navbar-nav>.active>a:after {
    background-color: white;
}

.bg-vitali{
    background-color: #0052cc;
    border-color: #0052cc;
    color: white;
}

.datatable td{
    white-space: nowrap;
}

.pace .pace-progress {
    background: #FFAB00;
    height: 5px;
}

.btnCloseTab:hover {
    color: white;
}

#navbar{
    padding-left: 20px;
    padding-right: 0px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a {
    background-color: #263238 !important
}

#navbar-user {
    background-color: #263238 !important
}

#navbar-user>li>a>span {
    color: white !important
}

#navbar-user>li>a>i {
    color: white !important
}

.cursor-pointer{
    cursor: pointer !important;
}

.label{
    border-radius: 20px;
    text-transform: none;
    padding-left: 15px;
    padding-right: 15px;
}

/**/

.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 12px 10px !important;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
    padding: 5px 7px !important;
}

.datatable-footer {
    border-top: 1px solid #bbb !important;
}

.btn {
    text-transform: none !important;
}

.content {
    padding: 0 10px 10px 10px;
}

.page-header-default {
    margin-bottom: 20px !important;
}

.img-circle {
    max-height: 30px;
    margin-top: -2.5px;
    border-radius: 50%;
    border: solid 1px #ecebeb;
}

.mb-0{
    margin-bottom: 0px !important
}